<div id="homepage" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="Notes Icon" src="/images/notes-2.png"/>
      </div>
      <h1 class="display-4">Welcome to <strong>Gerry's Notes</strong></h1>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
